<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="stylesheet" href="{% static 'reset.min.css'%}">

	<title>Ingreso</title>
	
</head>
<body>
	<div class = "entrada">
		<div class = "entrada__saludo"></div>
	</div>

	<div class = "container">
		<a href = "{% url 'medicos' %}" class ="container__button">
			<img src = "{% static 'images/man-doctor.svg' %}" width = "80" height = "80" class ="container__button--doctor"/>
			Médico
		</a>
		<a href = "{% url 'mesaentrada' %}" class ="container__button nurse-font">
			<img src = "{% static 'images/man-doctor.svg' %}" width = "80" height = "80" class ="container__button--doctor nurse"/>
			Mesa de entrada
		</a>
	</div>
</body>

<script src = "{% static 'app.js'%}"></script>
</html>