<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'mesa-de-entrada.css' %}">    
    <link rel="stylesheet" href="{% static 'reset.min.css'%}">  
    <title>Mesa de entrada</title>
</head>
<body class = "mesa-entrada">

<div class = "container-form">
  
    <form action = "/mesaentrada/" method="post" class = "form">
        {% csrf_token %}
        <p class = "form__p">Nombre</p>
        <input type = "text" name = "nombre">
        <p class = "form__p">Teléfono</p>
        <input type ="text" name = "telefono">
        <p class = "form__p">Síntomas</p>
        <textarea class = "textarea" name = "sintomas"></textarea>
        <input type ="submit" value = "Guardar">
    </form>

</div>
<script src = "{% static 'app.js'%}"></script>
</body>

</html>