<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	{% load static %} 
	<link rel="stylesheet" href="{% static 'registro-exitoso.css' %}">
	<link rel="stylesheet" href="{% static 'reset.min.css'%}">

    <title>Registro exitoso</title> 
</head>
<body>

    <div class = "registro-container__exitoso">
        <h1 class = "registro-container__title">Paciente registrado con exito</h1>
        <a href = "{% url 'mesaentrada' %}" class = "registro-container__a">Registrar nuevo</a>
    </div>
    
</body>
</html>