.registro-container__exitoso{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-family: 'Roboto', sans-serif;
}
.registro-container__title{
    color: #000031de;
    font-size: 7vw;
    margin-bottom: 30px;
}
.registro-container__a{
    font-size: 4vw;



}